neggs.web/Web References/web/neggs_xws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://neggs_server/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://neggs_server/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://neggs_server/">
      <s:element name="ConnectionString">
        <s:complexType />
      </s:element>
      <s:element name="ConnectionStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConnectionStringResult" type="tns:dbioResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="dbioResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsSuccess" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Cause" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Diagnosis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatabaseSize">
        <s:complexType />
      </s:element>
      <s:element name="DatabaseSizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DatabaseSizeResult" type="tns:dbioResultOfTableInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="dbioResultOfTableInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsSuccess" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Cause" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Diagnosis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:ArrayOfTableInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTableInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TableInfo" nillable="true" type="tns:TableInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TableInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="marker" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="schema" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="rows" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="reserved" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="dat_size" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="idx_size" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="unused" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProviderName">
        <s:complexType />
      </s:element>
      <s:element name="ProviderNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProviderNameResult" type="tns:dbioResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConnectionStringSoapIn">
    <wsdl:part name="parameters" element="tns:ConnectionString" />
  </wsdl:message>
  <wsdl:message name="ConnectionStringSoapOut">
    <wsdl:part name="parameters" element="tns:ConnectionStringResponse" />
  </wsdl:message>
  <wsdl:message name="DatabaseSizeSoapIn">
    <wsdl:part name="parameters" element="tns:DatabaseSize" />
  </wsdl:message>
  <wsdl:message name="DatabaseSizeSoapOut">
    <wsdl:part name="parameters" element="tns:DatabaseSizeResponse" />
  </wsdl:message>
  <wsdl:message name="ProviderNameSoapIn">
    <wsdl:part name="parameters" element="tns:ProviderName" />
  </wsdl:message>
  <wsdl:message name="ProviderNameSoapOut">
    <wsdl:part name="parameters" element="tns:ProviderNameResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicesSoap">
    <wsdl:operation name="ConnectionString">
      <wsdl:input message="tns:ConnectionStringSoapIn" />
      <wsdl:output message="tns:ConnectionStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DatabaseSize">
      <wsdl:input message="tns:DatabaseSizeSoapIn" />
      <wsdl:output message="tns:DatabaseSizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProviderName">
      <wsdl:input message="tns:ProviderNameSoapIn" />
      <wsdl:output message="tns:ProviderNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicesSoap" type="tns:ServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConnectionString">
      <soap:operation soapAction="http://neggs_server/ConnectionString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DatabaseSize">
      <soap:operation soapAction="http://neggs_server/DatabaseSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProviderName">
      <soap:operation soapAction="http://neggs_server/ProviderName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicesSoap12" type="tns:ServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConnectionString">
      <soap12:operation soapAction="http://neggs_server/ConnectionString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DatabaseSize">
      <soap12:operation soapAction="http://neggs_server/DatabaseSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProviderName">
      <soap12:operation soapAction="http://neggs_server/ProviderName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="ServicesSoap" binding="tns:ServicesSoap">
      <soap:address location="http://localhost:51200/neggs_xws.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicesSoap12" binding="tns:ServicesSoap12">
      <soap12:address location="http://localhost:51200/neggs_xws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>